<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Company: {{name}}</p>
    <table>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
        </tr>
        {{#each products as |product|}}
        <tr>
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>
        {{/each}}
    </table>
    <b><p> Agreed: </p></b>
    <p>Printed name: ___________________________________</p>
    <p>Signature: ___________________________________</p>
</body>
</html>